appdirs==1.4.4
APScheduler==3.9.1
black==22.8.0
cachetools==5.2.0
certifi==2023.07.22
chardet==5.0.0
click==8.1.3
flake8==5.0.4
Flask==2.3.2
idna==2.10
isort==5.10.1
itsdangerous==2.1.2
Jinja2==3.1.3
MarkupSafe==2.1.1
mccabe==0.7.0
mypy-extensions==0.4.3
oauthlib==3.2.2
pathspec==0.10.1
pycodestyle==2.9.1
pyflakes==2.5.0
PySocks==1.7.1
python-telegram-bot==13.6
pytz==2022.2.1
regex==2022.9.13
requests==2.32.0
requests-oauthlib==1.3.1
six==1.16.0
slack-webhook==1.0.7
toml==0.10.2
tornado==6.3.3
tzlocal==4.2
waitress==2.1.2
Werkzeug==2.3.8
binance==0.3
colorama~=0.4.5
telethon~=1.24.0
python-binance==1.0.16
py3cw==0.0.39
apprise~=0.9.9
aiohttp
schedule
bs4~=0.0.1
telegram~=0.0.1
numpy==1.23.1
lunarcrush~=1.0.1
pathlib~=1.0.1
plotly~=5.9.0
tronpy~=0.2.6
python-dateutil~=2.8.2
Werkzeug>=2.2.3
